<form [formGroup]="petForm" (ngSubmit)="petForm.valid && addPet()" >
  <div formGroupName="resource" class="resource">
    <div class="pseudo">
      <input type="text" formControlName="pseudo" placeholder="Pseudo *" required>
      <div *ngIf="pseudo.errors && submitted">
        <div [hidden]="!pseudo.errors.required" class="error-message">Pseudo is required.</div>
      </div>
    </div>

    <div formGroupName="breed" class="lib">
      <input type="text"  formControlName="lib" placeholder="Breed *" required>
      <div *ngIf="lib.errors && submitted">
        <div [hidden]="!lib.errors.required" class="error-message">Breed is required.</div>
      </div>
    </div>

  </div>

  <div class="btn">
    <button type="submit" (click)="onSubmit()">ADD PET</button>
  </div>
</form>
