<form [formGroup]="petForm" (ngSubmit)=addPet()>

  <div formGroupName="resource" class="resource">

    <div class="pseudo">
      <input type="text" formControlName="pseudo" placeholder="Pseudo" required >
      <div *ngIf="pseudo.errors && !petForm.get('resource.pseudo').pristine" class="error">
        <div [hidden]="!pseudo.errors.required">Pseudo is required.</div>
      </div>
    </div>

    <div formGroupName="breed" class="lib">
      <input type="text"  formControlName="lib" placeholder="Breed" required class="error">
      <div *ngIf="lib.errors && !petForm.get('resource.breed.lib').pristine">
        <div [hidden]="!lib.errors.required">Libelle is required.</div>
      </div>
    </div>

  </div>

  <div class="btn">
    <button type="submit" [disabled]="!petForm.valid">ADD PET</button>
  </div>
</form>
